<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                    <li><a th:href="@{/job/add}">Add</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="display-jobs">
        <table class="job-listing">
            <tr>
                <td><span>Name</span></td>
                <td><a th:text="${name}"></a></td>
            </tr>
            <tr>
                <td><span>Employer</span></td>
                <td><a th:text="${employer}"></a></td>
            </tr>
            <tr>
                <td><span>Location</span></td>
                <td><a th:text="${location}"></a></td>
            </tr>
            <tr>
                <td><span>Position Type</span></td>
                <td><a th:text="${positionType}"></a></td>
            </tr>
            <tr>
                <td><span>Core Competency</span></td>
                <td><a th:text="${coreCompetency}"></a></td>
            </tr>
        </table>
    </div>

</body>
</html>